// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "DP-1" {
    mode "3840x2160@119.999"
    scale 1.25
    position x=0 y=0
}
